--
-- PostgreSQL database dump
--

\restrict ZtSg9KqbYGldAY0SsPw41afOmClMpa4sdmGlCQElgBqREgFI54HGxzazBeuJQH4

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: global; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA global;


ALTER SCHEMA global OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: gd_001_events; Type: TABLE; Schema: global; Owner: postgres
--

CREATE TABLE global.gd_001_events (
    event_id bigint NOT NULL,
    event_type character varying(64) NOT NULL,
    source_type character varying(32) NOT NULL,
    source_ref character varying(256),
    valid_time timestamp without time zone NOT NULL,
    assertion_time timestamp without time zone NOT NULL,
    entity_id bigint NOT NULL,
    governance_scope_id bigint,
    commit_id bigint NOT NULL,
    created_by character varying(128),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    event_description text,
    event_status character varying(32) NOT NULL,
    CONSTRAINT gd_001_events_assertion_time_chk CHECK ((assertion_time >= '1901-01-01 00:00:00+02:02:04'::timestamp with time zone)),
    CONSTRAINT gd_001_events_valid_time_chk CHECK ((valid_time >= '1901-01-01 00:00:00+02:02:04'::timestamp with time zone))
);


ALTER TABLE global.gd_001_events OWNER TO postgres;

--
-- Name: gd_001_events_event_id_seq; Type: SEQUENCE; Schema: global; Owner: postgres
--

CREATE SEQUENCE global.gd_001_events_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE global.gd_001_events_event_id_seq OWNER TO postgres;

--
-- Name: gd_001_events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: global; Owner: postgres
--

ALTER SEQUENCE global.gd_001_events_event_id_seq OWNED BY global.gd_001_events.event_id;


--
-- Name: gd_005_commit_records; Type: TABLE; Schema: global; Owner: postgres
--

CREATE TABLE global.gd_005_commit_records (
    commit_id bigint NOT NULL,
    commit_timestamp timestamp without time zone NOT NULL,
    committing_authority_id bigint NOT NULL,
    commit_type character varying(64) NOT NULL,
    commit_reason text,
    created_by character varying(128),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    commit_status character varying(32) NOT NULL,
    CONSTRAINT gd_005_commit_records_commit_timestamp_chk CHECK ((commit_timestamp >= '1901-01-01 00:00:00'::timestamp without time zone))
);


ALTER TABLE global.gd_005_commit_records OWNER TO postgres;

--
-- Name: gd_005_commit_records_commit_id_seq; Type: SEQUENCE; Schema: global; Owner: postgres
--

CREATE SEQUENCE global.gd_005_commit_records_commit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE global.gd_005_commit_records_commit_id_seq OWNER TO postgres;

--
-- Name: gd_005_commit_records_commit_id_seq; Type: SEQUENCE OWNED BY; Schema: global; Owner: postgres
--

ALTER SEQUENCE global.gd_005_commit_records_commit_id_seq OWNED BY global.gd_005_commit_records.commit_id;


--
-- Name: gd_006_event_status_registry; Type: TABLE; Schema: global; Owner: postgres
--

CREATE TABLE global.gd_006_event_status_registry (
    event_status_code character varying(32) NOT NULL,
    event_status_name character varying(128) NOT NULL,
    event_status_description text,
    is_authoritative_replay_eligible boolean DEFAULT false CONSTRAINT gd_006_event_status_registr_is_authoritative_replay_el_not_null NOT NULL,
    is_terminal boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE global.gd_006_event_status_registry OWNER TO postgres;

--
-- Name: gd_013_governance_identities; Type: TABLE; Schema: global; Owner: postgres
--

CREATE TABLE global.gd_013_governance_identities (
    governance_identity_id bigint NOT NULL,
    identity_type character varying(64) NOT NULL,
    identity_name character varying(256) NOT NULL,
    identity_code character varying(128) NOT NULL,
    valid_from timestamp without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    valid_to timestamp without time zone DEFAULT '3001-12-31 00:00:00'::timestamp without time zone NOT NULL,
    identity_status character varying(32) NOT NULL,
    created_by character varying(128),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    identity_description text,
    CONSTRAINT gd_013_governance_identities_valid_range_chk CHECK ((valid_to >= valid_from))
);


ALTER TABLE global.gd_013_governance_identities OWNER TO postgres;

--
-- Name: gd_013_governance_identities_governance_identity_id_seq; Type: SEQUENCE; Schema: global; Owner: postgres
--

CREATE SEQUENCE global.gd_013_governance_identities_governance_identity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE global.gd_013_governance_identities_governance_identity_id_seq OWNER TO postgres;

--
-- Name: gd_013_governance_identities_governance_identity_id_seq; Type: SEQUENCE OWNED BY; Schema: global; Owner: postgres
--

ALTER SEQUENCE global.gd_013_governance_identities_governance_identity_id_seq OWNED BY global.gd_013_governance_identities.governance_identity_id;


--
-- Name: gd_001_events event_id; Type: DEFAULT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_001_events ALTER COLUMN event_id SET DEFAULT nextval('global.gd_001_events_event_id_seq'::regclass);


--
-- Name: gd_005_commit_records commit_id; Type: DEFAULT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_005_commit_records ALTER COLUMN commit_id SET DEFAULT nextval('global.gd_005_commit_records_commit_id_seq'::regclass);


--
-- Name: gd_013_governance_identities governance_identity_id; Type: DEFAULT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_013_governance_identities ALTER COLUMN governance_identity_id SET DEFAULT nextval('global.gd_013_governance_identities_governance_identity_id_seq'::regclass);


--
-- Name: gd_001_events gd_001_events_pk; Type: CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_001_events
    ADD CONSTRAINT gd_001_events_pk PRIMARY KEY (event_id);


--
-- Name: gd_005_commit_records gd_005_commit_records_pk; Type: CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_005_commit_records
    ADD CONSTRAINT gd_005_commit_records_pk PRIMARY KEY (commit_id);


--
-- Name: gd_006_event_status_registry gd_006_event_status_registry_pk; Type: CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_006_event_status_registry
    ADD CONSTRAINT gd_006_event_status_registry_pk PRIMARY KEY (event_status_code);


--
-- Name: gd_013_governance_identities gd_013_governance_identities_identity_code_uq; Type: CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_013_governance_identities
    ADD CONSTRAINT gd_013_governance_identities_identity_code_uq UNIQUE (identity_code);


--
-- Name: gd_013_governance_identities gd_013_governance_identities_pk; Type: CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_013_governance_identities
    ADD CONSTRAINT gd_013_governance_identities_pk PRIMARY KEY (governance_identity_id);


--
-- Name: gd_001_events_assertion_time_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_assertion_time_idx ON global.gd_001_events USING btree (assertion_time);


--
-- Name: gd_001_events_commit_id_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_commit_id_idx ON global.gd_001_events USING btree (commit_id);


--
-- Name: gd_001_events_entity_id_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_entity_id_idx ON global.gd_001_events USING btree (entity_id);


--
-- Name: gd_001_events_event_status_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_event_status_idx ON global.gd_001_events USING btree (event_status);


--
-- Name: gd_001_events_event_type_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_event_type_idx ON global.gd_001_events USING btree (event_type);


--
-- Name: gd_001_events_valid_time_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_001_events_valid_time_idx ON global.gd_001_events USING btree (valid_time);


--
-- Name: gd_005_commit_records_commit_status_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_005_commit_records_commit_status_idx ON global.gd_005_commit_records USING btree (commit_status);


--
-- Name: gd_005_commit_records_commit_timestamp_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_005_commit_records_commit_timestamp_idx ON global.gd_005_commit_records USING btree (commit_timestamp);


--
-- Name: gd_005_commit_records_commit_type_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_005_commit_records_commit_type_idx ON global.gd_005_commit_records USING btree (commit_type);


--
-- Name: gd_005_commit_records_committing_authority_id_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_005_commit_records_committing_authority_id_idx ON global.gd_005_commit_records USING btree (committing_authority_id);


--
-- Name: gd_013_governance_identities_identity_status_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_013_governance_identities_identity_status_idx ON global.gd_013_governance_identities USING btree (identity_status);


--
-- Name: gd_013_governance_identities_identity_type_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_013_governance_identities_identity_type_idx ON global.gd_013_governance_identities USING btree (identity_type);


--
-- Name: gd_013_governance_identities_valid_from_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_013_governance_identities_valid_from_idx ON global.gd_013_governance_identities USING btree (valid_from);


--
-- Name: gd_013_governance_identities_valid_to_idx; Type: INDEX; Schema: global; Owner: postgres
--

CREATE INDEX gd_013_governance_identities_valid_to_idx ON global.gd_013_governance_identities USING btree (valid_to);


--
-- Name: gd_001_events gd_001_events_commit_id_fk; Type: FK CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_001_events
    ADD CONSTRAINT gd_001_events_commit_id_fk FOREIGN KEY (commit_id) REFERENCES global.gd_005_commit_records(commit_id);


--
-- Name: gd_001_events gd_001_events_event_status_fk; Type: FK CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_001_events
    ADD CONSTRAINT gd_001_events_event_status_fk FOREIGN KEY (event_status) REFERENCES global.gd_006_event_status_registry(event_status_code);


--
-- Name: gd_005_commit_records gd_005_commit_records_committing_authority_id_fk; Type: FK CONSTRAINT; Schema: global; Owner: postgres
--

ALTER TABLE ONLY global.gd_005_commit_records
    ADD CONSTRAINT gd_005_commit_records_committing_authority_id_fk FOREIGN KEY (committing_authority_id) REFERENCES global.gd_013_governance_identities(governance_identity_id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZtSg9KqbYGldAY0SsPw41afOmClMpa4sdmGlCQElgBqREgFI54HGxzazBeuJQH4

